@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student-Teacher Assessment Website</h1>
    <p class="lead">Innovate and elevate your classroom experience.</p>
</div>

<img src="/Content/Images/frontpageheader.jpg" style="width: 100% ; height:100% ; padding: 20px 5px 20px 5px "/>
<div class=" row">

    <div class="col-md-12" style="padding: 50px 50px 50px 50px; color: blue; font-family: 'Trebuchet MS'; font-style: italic;">
        <h3>
            The Student-Teacher Assessment website will provide a two-way communication
            between the two kinds of users to develop strategic improvement in learning and
            conduction of class.
        </h3>
    </div>

</div>

<div class="row">
    <div class="col-md-6" style="padding: 20px;">
        <h2>If you are a student, you can...</h2>
        <p class="para" style="padding-right: 10px;">
            -login <br />
            -enter your course details and get assigned to your specific teachers and courses <br />
            -browse teachers profiles and view their ratings <br />
            -rate your current course teachers on many different criteria  <br />
        </p>
        
        <p>
            <a class="btn btn-default" onclick="location.href='@Url.Action("Create", "Students")';return false;">Enter</a>

        </p>
    </div>
    <div class="col-md-6" style="padding: 20px;">
        <h2>If you are a teacher, you can...</h2>
        <p class="para">
            -login <br />
            -enter your course details and get assigned to your specific courses and students of said courses <br />
            -browse all teachers profiles and view their ratings <br />
            -rate your current class of students on many different criteria
        </p>
        
        <p>
            <a class="btn btn-default" onclick="location.href='@Url.Action("Create", "Instructors")';return false;">Enter</a>

        </p>
    </div>
</div>